In [53]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import scipy.stats as scs
import numpy as np
import pandas as pd

In [54]:
height  = scs.norm(70, 3).rvs(100)
weight  = scs.norm(200, 25).rvs(100)
age     = scs.norm(28, 2).rvs(100)
epsilon = scs.norm(0, 1).rvs(100)
ability = 3*height + 7*weight - 11*age + 50 + epsilon

In [55]:
data = np.array([height, weight, age, ability]).T

In [56]:
df = pd.DataFrame(data, columns=['height', 'weight', 'age', 'ability'])
df.head()

      height      weight        age      ability
0  72.150304  200.077292  26.807080  1372.920984
1  71.797664  223.273778  30.502468  1493.492664
2  68.981727  221.002166  27.131911  1507.419170
3  68.360548  209.025940  29.729040  1392.445825
4  71.283365  202.999934  29.925473  1356.136233

In [57]:
y = df.ability
X = df.drop(columns=['ability'])

In [58]:
# missing y intercept
#sm.OLS(y, X).fit().params

sm.OLS(y, sm.add_constant(X)).fit().params

const     50.421049
height     3.002247
weight     6.997441
age      -11.001972
dtype: float64

In [59]:
m = LinearRegression().fit(X, y)
m.coef_, m.intercept_

(array([  3.00224729,   6.997441  , -11.00197243]), 50.42104862881865)

In [60]:
X = sm.add_constant(X)

C:\McKProgramFiles\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [61]:
np.linalg.inv(X.T @ X) @ (X.T @ y)

array([ 50.42104863,   3.00224729,   6.997441  , -11.00197243])